html{
	height: 100%;
	position: relative;
}

body{
	height: 100%;
	background-color: #dbdbdb;
	overflow-y: scroll;
}

header {
	width: 100%; 
	height: 64px;
	background-color: #f5f5f5;
	min-width: 1440px;
	position: fixed;
}

.header-container{
	width: 1440px;
	height: 64px;
	margin: 0 auto; 
}

.logo{
    width: 40px;
    height: 40px;
    margin-left: 64px;
    margin-top: 12px;
    float: left;
}

.nav{
	float: right;
	margin-right: 45px;
	margin-bottom: 9px;
}

.nav ul li{
	display: inline-block;
	padding:0 19px;
	text-align: center;
	}

.nav ul li a{
	color: #666666;
	font-size: 16px;
	line-height: 64px;
	}

.nav ul li a:hover{
	color: #B4171E;
}

.active{
	color: #B4171E;
	padding-bottom: 16px;
	border-bottom: 8px solid #B4171E;
}

.popup{
	width: 294px;
	height: 176px;
	background-color: #f5f5f5;
	margin-left: 1146px;
	padding-top:32px;
	clear: both;
	box-shadow: -2px 2px 16px 0px rgba(76,76,76,0.5);
	box-sizing: border-box;
	position: relative;
	display: none;
}

.popup p{
	color: #B4171E;
	font-size: 18px;
	line-height: 14px;
	margin-bottom: 24px;
	margin-left: 32px;
}

.popup span{
	color: #666;
	font-size: 14px;
}

.popup img{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 8px;
	right: 8px;	
	z-index: 200;
}

.imgHoverBg{
	width: 32px;
	height: 32px;
	background-color:#f5f5f5;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 199;
}

.popup img:hover+.imgHoverBg{
	background-color:#dbdbdb;
}

.content-container{
	width: 1440px;
	height: 100%;
	min-height: 920px;
	margin:auto;
 	padding-top:104px; 
 	padding-bottom: 24px;
	background-color: #d1d0d0;
	box-sizing: border-box;
	position: relative;
	z-index: -999;
}

.whiteBlock{
	width: 960px;
	height: 728px;
	margin-left: 240px;
	background-color: #ffffff; 
	box-shadow:0px 2px 12px 0px rgba(0,0,0,0.5);
	overflow: hidden;
}

.left{
	width: 72px;
	height: 728px;
	float: left;
}

.left-inner{
	width: 100%;
	height: 100%
	margin-top:0;
	padding-top: 92px;
}

.blackBlock{
	width: 18px;
	height: 84px;
	background-color: #262626;
}

.verticalLine{
	width: 1px;
	height: 212px;
	background-color: #999;
	margin-top: 122px;
	margin-left: 68px;
}

.left-inner p{
	color: #999;
	font-size: 15px;
	letter-spacing: 2px;
	transform: rotate(90deg);
	margin-top: 20px;
	margin-left: 62px;
}

.redBlock{
	width: 100%;
	height: 88px;
	background-color: #B4171E;
	margin-top: 93px;
}

.middle{
	width: 408px;
	height: 728px;
	float: left;
}

.inner-middle{
	width: 100%;
	height: 100%;
	margin-top: 0px;
	padding-top: 84px;
}

.middle p{
	color: #000;
	font-weight: bold;
	font-size: 120px;
	line-height: 95px;
	text-align: right;
	margin-right: 32px;
}

.middle span{
	color: #B4171E;
}


.inner-right{
	width: 480px;
	height: 728px;
	margin-top: 0px;
	padding-top: 16px; 
	float: right;
}

.inner-right p{
	font-size: 16px;
	color: #666;
	line-height: 22px;
	margin-right: 16px;
	margin-top: 24px;
}

.end{
	color: #999;
	font-size: 12px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 898px;
}
